@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 80%;
  display: flex;
  align-items: left;
  flex-direction: column;
}

@media (max-width: 600px) {
  #app {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #app {
    width: 40%;
  }
}

body {
  display: flex;
  place-items: start;
}

a,
.green {
  text-decoration: none;
  color: rgb(13, 182, 125);
  transition: 0.4s;
  padding: 3px;
}

a,
.blue {
  text-decoration: none;
  color: rgb(13, 125, 182);
  transition: 0.4s;
}

.underline {
  text-decoration: underline;
}
